/*
* Font Awesome Files
*/
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims.scss';

/*
* Media Quary Library
*/
@import '../../../node_modules/include-media/dist/include-media';

$copyright-bg: linear-gradient(
    to right,
    transparentize($black, 0.6),
    transparentize($white, 0.6)
  ),
  url(../img/copyright-img.jpg) no-repeat;
/*
* Mixin
*/
@mixin footer-bg($bg, $width: 100vw, $height: 350px, $pd_top: 0) {
  background: $bg;
  width: $width;
  height: $height;
  background-size: cover;
  padding-top: $pd_top;
}

/*
* Document
*/
* {
  scroll-behavior: smooth;
}
html {
  overflow-x: hidden;
}

/*
* Background Image
*/
.background {
  background: linear-gradient(
      transparentize($color: $black, $amount: 0.4),
      transparentize($color: $black, $amount: 0.5)
    ),
    url(../img/background.jpg);
  width: 100vw;
  background-size: cover;
  max-height: 840px;
  min-height: 840px;
  padding-top: 50px;
}
/*
* Navigation
*/
.title-bar-title,
.navbar-item,
#title {
  color: $primary-color;
  font-size: 1.3rem;
}
#title {
  @include media('<=638px') {
    display: none;
  }
}
.active {
  transition: all 0.3s;
  background: transparentize($color: $red, $amount: 0.7);
  border-radius: 10px;
}
.sticky_nav {
  background: $black !important;
  transition: all 0.3s;
}
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}
[data-sticky] {
  width: 100%;
}
.sticky-container {
  z-index: 5;
}

/*
* Header
*/
#home {
  margin-top: -60px;
  @include media('<=641px') {
    margin-top: -105px;
  }
  @include media('<=850px') {
    padding-top: 100px;
  }
}

/*
* About Us
*/
#about {
  padding-top: 50px;
  .cell.small-line {
    width: 200px;
    height: 5px;
    background: $primary-color;
    margin-left: 17%;
    @include media('<=1020px') {
      margin-left: 3%;
    }
  }
  h5 {
    margin-top: 1%;
  }
  .grid-x.grid-padding-x.align-center-middle {
    margin-top: -5%;
    .cell.small-line {
      width: 100px;
      height: 5px;
      background: $primary-color;
      margin-left: 0%;
      & + h5 {
        margin-top: 1%;
      }
    }
  }
  @include media('<=1434px') {
    .grid-x.grid-padding-x.align-center-middle {
      margin-top: 0%;
    }
  }
  @include media('<=637px') {
    height: 95vh;
    .cell.small-line {
      width: 100px;
      margin-left: 3%;
    }
  }
}
/*
* Slide Show
*/
.orbit-container {
  height: 740px !important;
}
.slide-show {
  width: 100vw;
  height: 80vh;
  img,
  source {
    width: 100vw;
    height: 90vh;
  }
  h1,
  h3 {
    position: absolute;
  }
  h3 {
    margin-top: 150px;
  }
}

/*
* Contact Form Image
*/
.img-mask {
  border-radius: 20px;
}
/*
* Footer
*/
.footer-background {
  @include footer-bg(
    linear-gradient(
      to right,
      transparentize(mix($white, $black, 80%), 0.3),
      transparentize(mix($white, $black, 20%), 0.3)
    ),
    $pd_top: 5%
  );
  i,
  h2 {
    color: $primary-color;
    font-size: 3em;
    @include media('<=640px') {
      font-size: 1.2rem;
    }
    @include media('<=926px') {
      font-size: 2rem;
    }
  }
  .counter {
    color: $white;
    font-size: 2rem;
  }
}
.copyright {
  @include footer-bg($copyright-bg, $pd_top: 5%);

  i {
    color: $primary-color;
    font-size: 3rem;
  }
  .owner {
    padding-top: 15px;
    .owner-text {
      color: $white;
      font-size: 2rem;
    }
  }
}

/*
* Bottom Padding
*/
.bottom-padding {
  width: 100vw;
  height: 5px;
  background: $primary-color;
}

/*
*Text
*/
h1 {
  color: $white;
}
#subtitle {
  color: $primary-color;
}
