<!-- About Section -->
<section class="background scroll-nav-bar" id="about">
  <div>
    <div class="grid-x grid-padding-x">
      <div class="cell small-10 large-offset-2">
        <h1>About Us</h1>
      </div>
      <div class="cell large-12 small-12 medium-12 small-line"></div>
      <div class="cell small-12 large-offset-2">
        <h5>
          My Name is Abhishek Biswas, An experienced Athelte, World Champion and
          a nutrition planner
        </h5>
      </div>
    </div>

    <div class="grid-x grid-padding-x align-center-middle">
      <div class="cell small-4 large-3 medium-4">
        <img src="../assets/img/about_us_img.png" alt="Image of About Us" />
      </div>

      <div class="cell small-9 large-5 medium-5 about-content">
        <div class="grid-x grid-padding-x align-center-middle text-left">
          <div class="cell">
            <h2>What is the aim of this website</h2>
            <div class="cell small-line"></div>
            <h5>
              We aim to take anyone who will join us to an another level of
              athleticism, our goal is to make everyone achieve his goal. We
              will help you to go on a nutrition plan and give you training
              program
            </h5>
          </div>
          <div class="cell">
            <h2>Who Am I ?</h2>
            <div class="cell small-line"></div>
            <h5>
              I'm here to show you how to make better choices regarding
              nutrition and physical activity
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
