<!-- Contact Form -->
<section class="background scroll-nav-bar" id="contact">
  <div>
    <div class="grid-x grid-padding-x align-center-middle">
      <div class="cell small-4 large-3 medium-5">
        <img
          src="../assets/img/contact-img.jpg"
          alt="Image of Contact"
          class="img-mask"
        />
      </div>
      <div class="cell small-8 large-7 medium-6">
        <form data-abide novalidate>
          <div data-abide-error class="alert callout" style="display: none">
            <p><i class="fi-alert"></i> There are some errors in your form.</p>
          </div>
          <div class="grid-x grid-margin-x">
            <div class="cell small-12 large-8 medium-6">
              <label>
                Email address
                <input
                  type="text"
                  placeholder="deo.john@example.com"
                  aria-describedby="example1Hint1"
                  aria-errormessage="example1Error1"
                  required
                  pattern="email"
                />
                <span class="form-error">
                  Yo, you had better fill this out, it's required.
                </span>
              </label>
              <p class="help-text" id="example1Hint1">
                Example :- deo.john@example.com
              </p>
            </div>
            <div class="cell small-12 large-8 medium-6">
              <label>
                Full Name
                <input
                  type="text"
                  placeholder="John Deo"
                  aria-describedby="example1Hint1"
                  aria-errormessage="example1Error1"
                  required
                  pattern="text"
                />
                <span class="form-error">
                  Yo, you had better fill this out, it's required.
                </span>
              </label>
              <p class="help-text" id="example1Hint1">
                Here's how you use this input field!
              </p>
            </div>
          </div>
          <div class="grid-x grid-margin-x">
            <div class="cell small-12 large-8 medium-6">
              <label>
                <select id="select" required>
                  <option value="">--Choose A Plan --</option>
                  <option value="volvo">Nutrition plan</option>
                  <option value="saab">Fitness Plan</option>
                  <option value="mercedes">Gym Plan</option>
                </select>
              </label>
            </div>
            <div class="cell small-12 large-8 medium-6">
              <label>
                Message
                <textarea placeholder="Message..." rows="2"></textarea>
              </label>
            </div>
          </div>

          <div class="grid-x grid-margin-x">
            <fieldset class="cell small-5 large-5 medium-3">
              <button class="button" type="submit" value="Submit">
                Submit
              </button>
            </fieldset>
            <fieldset class="cell small-5 large-5 medium-3">
              <button class="button" type="reset" value="Reset">Reset</button>
            </fieldset>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
