<!-- Footer Copyright -->
<section class="copyright">
  <div class="grid-x grid-padding-x text-center align-center-middle">
    <div class="cell small-8 large-8 medium-8">
      <div class="grid-x grid-padding-x">
        <div class="cell small-4">
          <a href="#"
            ><i class="fab fa-facebook-square" aria-hidden="true"></i
          ></a>
        </div>
        <div class="cell small-4">
          <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
        </div>
        <div class="cell small-4">
          <a href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a>
        </div>
        <br />
      </div>
    </div>
    <div class="cell small-8 large-8 medium- owner">
      <span class="owner-text"> Copyright 2020 : </span
      ><a
        href="mailto: abhishekbiswasofficial01@gmail.com"
        class="clear button owner-text"
        >Abhishek Biswas</a
      >
    </div>
    <div class="cell small- large-8 medium-8 owner">
      <span class="owner-text">
        Source Code On <a href="https://gitlab.com/biswas-abhishek/gym-trainer" class="owner-text">Gitlab</a>
      </span>
    </div>
  </div>
</section>
