<!-- Feature -->
<section class="background scroll-nav-bar" id="feature">
  <div>
    <div class="grid-x grid-padding-x align-center-middle">
      <div class="cell small-10 large-5 medium-6">
        <div class="grid-x grid-padding-x align-center-middle text-left">
          <div class="cell">
            <h3>
              1- All athletes with different sports can join us, they will find
              all thier needs
            </h3>
          </div>
          <div class="cell">
            <h3>2- We will contact our members directly</h3>
          </div>
          <div class="cell">
            <h3>
              3- We provide a training program + a nutrition plan and if there
              is no progress or small progress, we will give you an another
              nutrition plan
            </h3>
          </div>
          <div class="cell">
            <h3>
              4- We will meet our members physically to be more closer with our
              members
            </h3>
          </div>
        </div>
      </div>
      <div class="cell small-5 large-3 medium-4">
        <img
          src="../assets/img/details-img.webp"
          alt="Image of Details"
          width="90%"
          style="margin-top: 30px"
          class="img-mask"
        />
      </div>
    </div>
  </div>
</section>
