<!-- Footer Counter -->
<section class="footer-background">
  <div class="grid-x grid-padding-x align-center-middle text-center">
    <div class="cell small-3 large-4 medium-6">
      <i class="fab fa-nutritionix" id="fab" aria-hidden="true"></i><br /><span
        class="counter"
        data-target="100"
      ></span
      ><br />
      <h1>Nutriton plans given</h1>
    </div>
    <div class="cell small-3 large-4 medium-6">
      <i class="fas fa-dumbbell" id="fab" aria-hidden="true"></i><br /><span
        class="counter"
        data-target="55"
      ></span
      ><br />
      <span><h1>Plans given</h1></span>
    </div>
    <div class="cell small-3 large-4 medium-6">
      <i class="fas fa-battery-full" id="fab" aria-hidden="true"></i><br /><span
        class="counter"
        data-target="40"
      ></span
      ><br />
      <h1>Power given</h1>
    </div>
  </div>
</section>
