<!-- Main Header -->
<section class="background scroll-nav-bar" id="home">
        <div class="grid-x grid-padding-x align-center-middle text-center">
          <div class="cell small-12 large-5 medium-7">
            <img src="../assets/img/logo-img.png" alt="Image of Logo" />
          </div>
          <div class="cell small-12 large-5 medium-9">
            <h1>Abhishek Biswas</h1>
            <h3 id="subtitle">Escape Ordinary</h3>
            <a class="button large" href="#about">Learn More...</a>
          </div>
        </div>
      </div>
</section>
