<!-- * Navigation File -->
<nav data-sticky-container>
  <div data-sticky data-options="marginTop:0;" data-sticky-on="small">
    <div
      class="title-bar"
      data-responsive-toggle="responsive-menu"
      data-hide-for="medium"
    >
      <button
        class="menu-icon"
        type="button"
        data-toggle="responsive-menu"
      ></button>
      <div class="title-bar-title">SHJR</div>
    </div>

    <div class="top-bar" id="responsive-menu">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text" id="title">SHJR</li>
      </ul>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#home" class="navbar-item active">Home</a></li>
          <li><a href="#about" class="navbar-item">About</a></li>
          <li><a href="#feature" class="navbar-item">Feature</a></li>
          <li><a href="#contact" class="navbar-item">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>