<!-- Slide Show -->
<section class="slide-show background">
  <div class="orbit" role="region" aria-label="Favorite Text Ever" data-orbit>
    <ul class="orbit-container">
      <button class="orbit-previous" aria-label="previous">
        <span class="show-for-sr">Previous Slide</span>&#9664;
      </button>
      <button class="orbit-next" aria-label="next">
        <span class="show-for-sr">Next Slide</span>&#9654;
      </button>
      <li class="is-active orbit-slide">
        <div class="docs-example-orbit-slide">
          <div
            class="
              slide-img-1
              grid-x grid-padding-x
              text-center
              align-center-middle
            "
          >
            <picture>
              <source
                media="(max-width: 767px)"
                sizes="(max-width: 850px) 100vw, 850px"
                srcset="
                  ../assets/img/slide-1_rinvcf_ar_1_1,c_fill,g_auto__c_scale,w_300.jpg 300w,
                  ../assets/img/slide-1_rinvcf_ar_1_1,c_fill,g_auto__c_scale,w_757.jpg 757w,
                  ../assets/img/slide-1_rinvcf_ar_1_1,c_fill,g_auto__c_scale,w_850.jpg 850w
                "
              />
              <source
                media="(min-width: 768px) and (max-width: 991px)"
                sizes="(max-width: 1133px) 100vw, 1133px"
                srcset="
                  ../assets/img/slide-1_rinvcf_ar_4_3,c_fill,g_auto__c_scale,w_768.jpg   768w,
                  ../assets/img/slide-1_rinvcf_ar_4_3,c_fill,g_auto__c_scale,w_1127.jpg 1127w,
                  ../assets/img/slide-1_rinvcf_ar_4_3,c_fill,g_auto__c_scale,w_1133.jpg 1133w
                "
              />
              <source
                media="(min-width: 992px) and (max-width: 1199px)"
                sizes="(max-width: 2220px) 60vw, 1332px"
                srcset="
                  ../assets/img/slide-1_rinvcf_c_scale,w_596.jpg   596w,
                  ../assets/img/slide-1_rinvcf_c_scale,w_1039.jpg 1039w,
                  ../assets/img/slide-1_rinvcf_c_scale,w_1332.jpg 1332w
                "
              />
              <img
                sizes="(max-width: 1332px) 100vw, 1332px"
                srcset="
                  ../assets/img/slide-1_rinvcf_c_scale,w_1200.jpg 1200w,
                  ../assets/img/slide-1_rinvcf_c_scale,w_1332.jpg 1332w
                "
                src="../assets/img/slide-1_rinvcf_c_scale,w_1332.jpg"
                alt=""
              />
            </picture>

            <h1 class="cell">Special Service</h1>
            <h3 class="cell">We work hard for your happiness</h3>
          </div>
        </div>
      </li>
      <li class="orbit-slide">
        <div class="docs-example-orbit-slide">
          <div
            class="
              slide-img-2
              grid-x grid-padding-x
              text-center
              align-center-middle
            "
          >
            <picture>
              <source
                media="(max-width: 767px)"
                sizes="(max-width: 417px) 100vw, 417px"
                srcset="
                  ../assets/img/slide-2_tsavk4_ar_1_1,c_fill,g_auto__c_scale,w_300.webp 300w,
                  ../assets/img/slide-2_tsavk4_ar_1_1,c_fill,g_auto__c_scale,w_417.webp 417w
                "
              />
              <source
                media="(min-width: 768px) and (max-width: 991px)"
                sizes="(max-width: 555px) 100vw, 555px"
                srcset="
                  ../assets/img/slide-2_tsavk4_ar_4_3,c_fill,g_auto__c_scale,w_555.webp 555w
                "
              />
              <source
                media="(min-width: 992px) and (max-width: 1199px)"
                sizes="(max-width: 1043px) 60vw, 626px"
                srcset="
                  ../assets/img/slide-2_tsavk4_c_scale,w_596.webp 596w,
                  ../assets/img/slide-2_tsavk4_c_scale,w_626.webp 626w
                "
              />
              <img
                sizes="(max-width: 626px) 100vw, 626px"
                srcset="../assets/img/slide-2_tsavk4_c_scale,w_626.webp 626w"
                src="../assets/img/slide-2_tsavk4_c_scale,w_626.webp"
                alt=""
              />
            </picture>

            <h1 class="cell">You will get totally supported</h1>
            <h3 class="cell">We will help you to get in shape</h3>
          </div>
        </div>
      </li>
      <li class="orbit-slide">
        <div class="docs-example-orbit-slide">
          <div
            class="
              slide-img-3
              grid-x grid-padding-x
              text-center
              align-center-middle
            "
          >
            <picture>
              <source
                media="(max-width: 767px)"
                sizes="(max-width: 1128px) 100vw, 1128px"
                srcset="
                  ../assets/img/slide-3_u6cgz6_ar_1_1,c_fill,g_auto__c_scale,w_300.jpg   300w,
                  ../assets/img/slide-3_u6cgz6_ar_1_1,c_fill,g_auto__c_scale,w_877.jpg   877w,
                  ../assets/img/slide-3_u6cgz6_ar_1_1,c_fill,g_auto__c_scale,w_1128.jpg 1128w
                "
              />
              <source
                media="(min-width: 768px) and (max-width: 991px)"
                sizes="(max-width: 1504px) 100vw, 1504px"
                srcset="
                  ../assets/img/slide-3_u6cgz6_ar_4_3,c_fill,g_auto__c_scale,w_768.jpg   768w,
                  ../assets/img/slide-3_u6cgz6_ar_4_3,c_fill,g_auto__c_scale,w_1153.jpg 1153w,
                  ../assets/img/slide-3_u6cgz6_ar_4_3,c_fill,g_auto__c_scale,w_1458.jpg 1458w,
                  ../assets/img/slide-3_u6cgz6_ar_4_3,c_fill,g_auto__c_scale,w_1504.jpg 1504w
                "
              />
              <source
                media="(min-width: 992px) and (max-width: 1199px)"
                sizes="(max-width: 2400px) 60vw, 1440px"
                srcset="
                  ../assets/img/slide-3_u6cgz6_c_scale,w_596.jpg   596w,
                  ../assets/img/slide-3_u6cgz6_c_scale,w_1242.jpg 1242w,
                  ../assets/img/slide-3_u6cgz6_c_scale,w_1440.jpg 1440w
                "
              />
              <img
                sizes="(max-width: 1920px) 100vw, 1920px"
                srcset="
                  ../assets/img/slide-3_u6cgz6_c_scale,w_1200.jpg 1200w,
                  ../assets/img/slide-3_u6cgz6_c_scale,w_1539.jpg 1539w,
                  ../assets/img/slide-3_u6cgz6_c_scale,w_1879.jpg 1879w,
                  ../assets/img/slide-3_u6cgz6_c_scale,w_1920.jpg 1920w
                "
                src="../assets/img/slide-3_u6cgz6_c_scale,w_1920.jpg"
                alt=""
              />
            </picture>

            <h1 class="cell">We've the best programs</h1>
            <h3 class="cell">Notice the difference within two weeks</h3>
          </div>
        </div>
      </li>
    </ul>
    <nav class="orbit-bullets">
      <button class="is-active" data-slide="0">
        <span class="show-for-sr">First slide details.</span
        ><span class="show-for-sr">Current Slide</span>
      </button>
      <button data-slide="1">
        <span class="show-for-sr">Second slide details.</span>
      </button>
      <button data-slide="2">
        <span class="show-for-sr">Third slide details.</span>
      </button>
    </nav>
  </div>
</section>
