{{!-- This is the base layout for your project, and will be used on every page
unless specified. --}}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gym Trainer</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css" />
  </head>
  <body>
    {{!-- Pages you create in the src/pages/ folder are inserted here when the
    flattened page is created. --}}

    <header>{{> navBar}} {{>header}}{{>bottomPadding}}</header>
    <section>
      {{>aboutUs}}{{>bottomPadding}} {{>slideBar}} {{>bottomPadding}}
    </section>
    <section>{{>feature}} {{>bottomPadding}}</section>
    <section>{{>contactForm}} {{>bottomPadding}}</section>
    <footer>{{>footer}} {{>bottomPadding}} {{>copyrightFooter}}</footer>

    {{> body}}

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
